
<div class="w3-container content box" >
  <h1 class="w3-center w3-border-bottom " style="font-weight: bold;"> Microfinance And Loan </h1>

  <div class="w3-section w3-border w3-padding-16" style="padding-left:200px;">
    <h2> Update Guarantor</h2>
    <form class="w3-form" [formGroup]="myForm" (ngSubmit)="onSubmit();">
      <label class="field"><b> Name</b></label>
      <input class="w3-input w3-border-orange field" type="text" placeholder="Enter Name" formControlName="guarantorName"  required><br>
      <label class="field"><b>Address</b></label>
      <input class="w3-input w3-border-orange field" type="text" placeholder="Enter  Address" formControlName="guarantorAddress"  required><br>

      <label class="field"><b>NRC No</b></label>
      <input class="w3-input w3-border-orange field" type="text" placeholder="Enter  NRC" formControlName="guarantorNRC"  required><br>

      <label class="field"><b>Phone </b></label>
      <input class="w3-input w3-border-orange field" type="text" placeholder="Enter  Phone" formControlName="guarantorPhone"  required><br>

      <label class="field"><b>Occupation</b></label>
      <input class="w3-input w3-border-orange field" type="text" placeholder="Enter Occupation" formControlName="guarantorOccupation"  required><br>
      <p class="w3-red" *ngIf=" myForm.invalid && myForm.touched">
        * are required !
      </p>
      <div>
        <button class="w3-button w3-margin-right " style="width: 100px;"  type="submit" [disabled]="myForm.invalid">Update </button>
        <button class="w3-button " style="width: 100px;" type="button"> Cancle</button>
        <button class="w3-button " type="submit" style="float: right;margin-right: 10px;width: 100px;" routerLink="/main" routerLinkActive="active"> Back </button>
      </div>
    </form>
  </div>
</div>

