<div class="w3-container content">
  <h1 class="w3-center " style="font-weight: bold;"> Microfinance And Loan </h1>
<div class="w3-padding-32" style="margin-left: 400px;">
  <h2> Create Member</h2>
  <form class="w3-form"  [formGroup]="myForm" (ngSubmit)="submit();">
  <label class="field"><b> Group Name</b></label>
  <input class="w3-input w3-border field" type="text" placeholder="Enter Group Name" formControlName="memberGroupName" style="width: 400px;" required><br>
  <label class="field"><b>Group Type</b></label><br>
  <input class="w3-radio" type="radio" formControlName="memberType"  value="Group"  checked>
  <label class="w3-margin-right">Group</label>&nbsp;
  <input class="w3-radio" type="radio" formControlName="memberType" value="Individual" >
  <label>Individual</label>
    <div class="w3-red" *ngIf="myForm.invalid && myForm.touched">
      * are required!
    </div>
  <div class="w3-padding-top">
    <button class="w3-button w3-margin-right "   type="submit" [disabled]="myForm.invalid && myForm.touched">Add </button>
    <button class="w3-button "  type="button" routerLink="/main" routerLinkActive="active"> Cancle</button>

  </div>
  </form>
</div>
</div>
