<div class="w3-padding">
  <h1> Loan Policy List</h1>
  <table class="w3-table w3-striped w3-border">
    <tr>
      <th>ID</th>
      <th>Loan Amount</th>
      <th>Loan Interest</th>
      <th>Months </th>
      <th>Monthly Payment </th>
      <th></th>

    </tr>
    <tr *ngFor="let l of loanPolicies" >
      <td>{{l.id}}</td>
      <td>{{l.loanAmount}}</td>
      <td>{{l.loanInterest}}</td>
      <td>{{ l.months}}</td>
      <td>{{l.monthlyPayment}}</td>
      <td>
        <button type="submit" value="Back" routerLink="/main" routerLinkActive="active" class="w3-button w3-black w3-margin-left"> Back</button>
      </td>
    </tr>
  </table>
  </div>


<div class="w3-half">
  <router-outlet></router-outlet>
</div>
