<div class="w3-padding">
  <h1 style="padding-left: 10px;"> Loan Policy List</h1>
  <div >
    <form class="w3-form">
      <button type="submit" value="add" class="w3-button" style="border-radius: 25px;background-color: #e07b39;" routerLink="/loan-policy" routerLinkActive="active">Add Loan Policy</button>
    </form>
  </div>
  <br>
  <table class="w3-table w3-striped w3-border content">
    <tr>
      <th>ID</th>
      <th>Loan Amount</th>
      <th>Loan Interest</th>
      <th>Months </th>
      <th>Monthly Payment </th>
      <th></th>

    </tr>
    <tr *ngFor="let l of loanPolicies" >
      <td>{{l.id}}</td>
      <td>{{l.loanAmount}}</td>
      <td>{{l.loanInterest}}</td>
      <td>{{ l.months}}</td>
      <td>{{l.monthlyPayment}}</td>
      <td>
        <button type="submit" value="Back" routerLink="/main" routerLinkActive="active" class="w3-button w3-black w3-margin-left"> Back</button>
      </td>
    </tr>
  </table>
  </div>


<div class="w3-half">
  <router-outlet></router-outlet>
</div>
