<div class="w3-container content box">
  <h1 class="w3-center w3-border-bottom " style="font-weight: bold;"> Microfinance And Loan </h1>

  <div class="w3-section w3-border w3-padding-16" style="padding-left:200px;">
    <h2> Create Staff</h2>
    <form >
    <label class="field"><b> Name</b></label>
    <input class="w3-input w3-border-orange field" type="text" placeholder="Enter  Name" name="usrname" required><br>
    <label class="field"><b>Address</b></label>
    <input class="w3-input w3-border-orange field" type="text" placeholder="Enter  Address" name="address" required><br>

    <label class="field"><b>NRC No</b></label>
    <input class="w3-input w3-border-orange field" type="text" placeholder="Enter  NRC" name="nrcno" required><br>

    <label class="field"><b>Phone </b></label>
    <input class="w3-input w3-border-orange field" type="text" placeholder="Enter  Phone" name="phone" required><br>

    <label class="field"><b>Email</b></label>
    <input class="w3-input w3-border-orange field" type="text" placeholder="Enter email" name="email" required><br>

    <label class="field"><b>Password</b></label>
    <input class="w3-input w3-border-orange field" type="password" placeholder="Enter password" name="password" required><br>

    <div>
      <button class="w3-button w3-margin-right " style="width: 100px;"  type="submit">Add </button>
      <button class="w3-button " style="width: 100px;" type="button"> Cancle</button>
      <button class="w3-button " type="submit" style="float: right;margin-right: 10px;width: 100px;" > Back </button>
    </div>
    </form>
  </div>
</div>
