#content{
  margin-top: 100px;
  width: 500px;
  margin-left: 500px;
  border-radius: 25px;
  border: 1px solid #f2f2f2;
  background-color: #e07b39;
}
#footer{
  width: 500px;
  margin-left: 500px;
}
.btn{
 /*background-color: #ccffff;*/
  width: 100px;
border-radius: 10px;
  background-color:#e07b39;
}
.box {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}
.field{
  width: 300px;
  margin-left: 80px;
  padding: 10px;
  border-radius: 20px;

}

