

<div class="w3-container box" id="content">

  <div class="w3-center">
    <img src="assets/avatar1.png"  style="width:25%" class="w3-circle w3-margin-top ">
  </div>
  <div class="w3-container w3-center " style="font-weight: bold;font-size: large;">
    Login
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="summit()">
    <div class="w3-section">
      <label class="field"><b>Email</b></label>
      <input class="w3-input w3-border-orange field" type="text" placeholder="Enter Email" formControlName="email" required><br>
      <label class="field"><b>Password</b></label>
      <input class="w3-input w3-border-orange field" autocomplete="on" type="password" placeholder="Enter Password" formControlName="password" required><br>
      <div class="w3-center">
        <button class="w3-button btn" type="submit" [disabled]="loginForm.invalid">Login</button><br>
      </div>
    </div>
  </form>

</div>


